html{
    scroll-behavior: smooth;
}
*{box-sizing:boder-box}
body{
    margin:0;
    padding:0;
    
}
.header{
    background-image: url(foot.jpg);
    background-size: cover;
    height: 668px;
}
#services{
    background-image:url(laptop.jpg);
    background-size:cover;
    height:300px;
    padding-top:5%;
    color:white;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
#portfolio{
    justify-content: space-between;
}
.logo{
    padding-left: 35%;
}
.row3 p{
    color:white;
}
.row2 h2{
    color:white;
    text-align: center; 
}
.row1 h1{
    color:white;
    margin-left: 135%;
}
#aboutus{
    padding-top:5%;
}
 h6{
    padding-left: 40%;
    font-weight:bold;
    font-size:30px;
}
h4{
    color:white;
    padding-left: 40%;
}