html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    
}
.header{
    background-image: url(foot.jpg);
    background-size: cover;
    margin-left: 3%;
    margin-right: 3%;
}
#services{
    background-image:url(laptop.jpg);
    background-size:cover;
    width:90%;
    color:white;
}
h1{
    text-align: center;
    font-size:30px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}

.logo{
    padding-left: 35%;
}
.row3 p{
    color:white;
}
.row2 h2{
    color:white;
    text-align: center; 
}
.row1 h1{
    color:white;
    margin-left: 135%;
}
.about{
    padding-top:5%;
    padding-bottom: 3%;
}
 h6{
    padding-left:45%;
    font-weight:bold;
    font-size:30px;
}
h4{
    color:white;
    padding-left: 45%;
}
#we-do{
    padding-top:5%;
}
/* #contact{
background-image: url(gear.jpg);
background-size:cover;
height:300px;
} */

.hidden-what-we-do{
    display:none;
}

.contact{
    background-image: url(gear.jpg);
    background-size: cover;
    
}
.validate{
    width:100%;
    padding:12px 20px;
    text-align: center;
}
#name{
    width:40%;
    background:transparent;
    color:white;
    
}
#email{
    width:40%;
    background: transparent;
    color:white;
}
#message{
    width:70%;
    height:20;
    background: transparent;
    color:white;

}
h7{
    color:white;
    margin-left:35%;
}
.footer{
    padding-top: 10%;
}

img{
    cursor: pointer;
}
.header{
    color:white;
    text-align:center;
    padding-top:200px;
}
 
h3{
    font-size:18px;
}
.imagehover{
    justify-content:space-around;

}
.port {
    padding-top: 3%;
    margin-left: 8%;
    margin-right:8%;
}
.text{
position: absolute;
top: 50%;
transform:translate(-50%,-50%);
border :4px solid white;
padding :20px,20px;
left:50%;
display: none;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 10%;
padding-top: 10%;
color: white;
}