html{
    scroll-behavior: smooth;
}
*{box-sizing:boder-box}
body{
    margin:0;
    padding:0;
    background-image:url("./image/laptop.jpg");
}
.header{
    background-image: url(foot.jpg);
    background-size: cover;
    height: 668px;
}
.services{
 
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
#portfolio{
    justify-content: space-between;
}
.logo{
    padding-left: 35%;
}
.row3 p{
    color:white;
}
.row2 h2{
    color:white;
    padding-left:10%; 
}
.row1 h1{
    color:white;
    margin-left: 135%;
}
#aboutus{
    padding-top:5%;
}